<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= appname %></title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">

  <!-- build:css style.min.css -->
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

  <!-- build:js app.min.js -->
  <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/adaptiveme/adaptive.js"></script>
  <script src="js/helper.js"></script>
  <script src="js/main.js"></script>
  <!-- endbuild -->
</head>
<body onload="init()">

<h1>Hello Adaptive <span id="version"></span></h1>

<p><b>Device</b>: <span id="device"></span></p>

<p><b>Operating System</b>: <span id="os-info"></span></p>

<p><b>Locale</b>: <span id="locale"></span></p>

</body>
</html>
