<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title><%= appname %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

  <!-- build:css style.min.css -->
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <!-- endbuild -->

  <!-- build:js app.min.js -->
  <script type="text/javascript" src="bower_components/adaptiveme/adaptive.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- endbuild -->

</head>
<body onload="init()">

<h1>Hello Adaptive <span id="version"></span></h1>

<p><b>Device</b>: <span id="device"></span></p>

<p><b>Operating System</b>: <span id="os-info"></span></p>

<p><b>Locale</b>: <span id="locale"></span></p>

</body>
</html>
